{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier intervention</h1>

{{ form_start(form) }}

    {{ form_row(form.description) }}
    {{ form_row(form.statut) }}
    {{ form_row(form.technicien) }}
    {{ form_row(form.datePlanifiee) }}

    <button class="btn">
        Sauvegarder
    </button>

{{ form_end(form) }}

<a href="{{ path('app_intervention_index') }}">
    Retour
</a>

{% endblock %}